.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding: 1rem;
  background-color: #141414;
  color: white;
}

.loading-container {
  gap: 0.2rem;
}

a {
  text-decoration: none;
  color: red;
}
