.info-box {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  pointer-events: none;
}

.title {
  font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
  .info-box {
    font-size: 0.95rem;
  }

  .title {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 992px) {
  .info-box {
    font-size: 0.85rem;
  }

  .title {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .info-box {
    font-size: 0.75rem;
  }
}
